.mainContent {
    display:flex;
    flex-direction: column;
    width: 85%;
    margin: 5%;
}

h1 {
    display: flex;
    justify-content: center;
}

/* GOLD STYLING */
.gold {
    display:flex;
    align-items: center;
}

.goldTotal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pGold {
    color: goldenrod;
    text-shadow: 1px .5px black;
}

button {
    text-decoration: none;
    border: 1px solid black;
    width: 80px;
    height: 25px;
    background-color: rgb(245, 229, 156);
}

.goldTotal {
    border: 1px solid black;
    width: 100px;
    height: 30px;
    margin-left: 10px;
}

/* LOCATIONS */
.locations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px 20px 0px;
}

.farm, .cave, .house, .casino {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 300px;
    height: 250px;

}

/* ACTIVITES */
.pActivity {
    color: blue;
}