<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}"> 
    <title>Money Miner</title>
</head>
<body>
    
    <div class="mainContent">

        <h1>Money Miner</h1>

        <div class="gold">
            <h2>Your Gold: </h2>
            <div class="goldTotal">
                <p class="pGold">{{ gold }}</p>
            </div>
        </div>

        <div class="locations">
            <div class="farm">
                <h3>Farm</h3>
                <p>(earns 10-20 golds)</p>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="process_money_form" value="farm">
                    <button>Find Gold!</button>
                </form>
            </div>

            <div class="cave">
                <h3>Cave</h3>
                <p>(earns 5-10 golds)</p>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="process_money_form" value="cave">
                    <button>Find Gold!</button>
                </form>
            </div>

            <div class="house">
                <h3>House</h3>
                <p>(earns 2-5 golds)</p>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="process_money_form" value="house">
                    <button>Find Gold!</button>
                </form>
            </div>

            <div class="casino">
                <h3>Casino</h3>
                <p>(earns/takes 0-50 golds)</p>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="process_money_form" value="casino">
                    <button>Find Gold!</button>
                </form>
            </div>
        </div>

        <div class="activities">
            <h3>Activities: </h3>
            <div class="history">{{ history }}</div>
        </div>

    </div>

</body>
</html>